body {
    font-family: 'Tilt Warp', cursive;
    background-color: lightgoldenrodyellow;
}
.center-block {
    margin: 0 auto;
    width: 65%;
    cursor: pointer;
    max-width: 45rem;
}
.inner-center-block {
    border-bottom: solid;
    border-color: lightslategray;
}
.inner-center-block input {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.inner-center-block .item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1.06rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
.inner-center-block .item-title .item-title-text {
    flex: 1;
    margin-left: 0.6rem;
  }
.inner-center-block i {
    opacity: 0;
    transition: 0.45s ease-in-out;
  }
.item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
.item-content:active {
    cursor: pointer;
    background-color: aliceblue;
  }
.item-content:active img {
    filter: brightness(35%);
    border-radius: 0.9rem;
  }
.item-content img {
    max-width: 100%;
    max-height: 100%;
    transition: 0.8s ease-in-out;
  }
input[id^=item-]:checked~.item-content,
  .inner-center-block:hover .item-content {
    height: 14rem;
    padding: 1.4rem 0.4rem;
  } 
input[id^=item-]:checked~.item-title i {
    transform: rotate(45deg);
  }
.center-block .inner-center-block:last-child {
    border-bottom: none;
}
p {
    font-size: calc(0.5rem + 2vw);
}
.main-title {
    font-size: calc(1rem + 2vw);
}
.item-content {
    cursor:pointer;
}
@media screen and (min-width: 1180px) {
    input[id^=item-]:checked~.item-content,
    .inner-center-block:hover .item-content {
      height: 28rem;
      padding: 1.5rem 0.5rem;
    }
    .item-title-text {
      font-size: 2rem;
    }
  }
@media screen and (max-width: 820px) {
    .main-title {
      font-size: 1.7rem;
    }
    .item-title-text {
      font-size: 1.3rem;
    }
  }
@media screen and (max-width: 320px) {
    .main-title {
      font-size: 1rem;
    } 
    .item-title-text {
      font-size: 0.7rem;
    }
    input[id^=item-]:checked~.item-content,
  .inner-center-block:hover .item-content {
    height: 18rem;
  }
}
@media (hover: hover) {

    .center-block:hover .inner-center-block {
      color:blue;
    }
    .center-block:hover i {
      opacity: 1;
    }
    .inner-center-block:hover i {
      transform: rotate(45deg);
      color: blue;
    }
  }
@media (hover: none) {

    .center-block i {
      opacity: 1;
    } 
    .inner-center-block:hover i {
      transform: rotate(45deg);
      color: blue;
    }
  }